@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html {
    background: url(https://s3-alpha-sig.figma.com/img/b791/11fd/539e57b18235d238c9063cafd2ebedc5?Expires=1690761600&Signature=AROulcJDl9xsoIz1-xa9dZ8orq7XEvvsUDTLHyI6E-0IdTenqnfExcfg8rGRzDZe8KuM-rAphi9q0icaGwaSMW3Z4ZdHZ2RMjCFCJo98Z3hTnSXlywFyO3wSgRzbm3e9ZK7eDB26qPk9dayt5eDgPakN8ROmvVLuRyaTHJmIwxmj~WtvYTAp3lHbPtY1ef60j95IYBWlxXzO0hVxjvbICgIH2boxwvxxCztarSt~mNrb2EW82GvM0FbcDyOrUvPR6Rq3ylPoa8RnVPwiZMGPZ1BlKl9U82IY-oLLrgAzfxsVsaxuKqDgKAHnKz~vPdjAR6mhwsPVkA9mSfucM1qO3A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: .5s ease-in-out;
}

.main {
    display: flex;
padding: 18.5px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 15px;
background: rgba(0, 0, 0, 0.58);
}

#city{
    display: flex;
    padding: 3px 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.location{}

.main input{
    display: flex;
padding: 3px 44px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 15px;
background: rgba(0, 0, 0, 0.58);

}

.main button{
    width: 25px;
height: 25px;
flex-shrink: 0;
border: none;
border-radius: 15px;
background: rgba(0, 0, 0, 0.58);
}
/*farenheight to celcius btn*/
.main button:hover{
    background: rgba(0, 0, 0, 0.80);
}

.feels-like{
    display: flex;
padding: 8px 6px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 34px;
}

